<section>
      <div class="container">
            <div class="row">
                  <div class="col-md-6 justify-content-center">
                        <h2>Add Banner</h2>
                        {{#if bannerExistErr}}
                        <p class="error text-danger">{{bannerExistErr}}</p>
                        {{/if}}
                        <form action="/admin/add-banner" id="add-prod" method="post" enctype="multipart/form-data">

                              <label for="name">Name</label>
                              <input type="text" id="banner" onkeyup="validateBanner()" name="name"
                                    class="form-control">
                              <div id="bannerError"></div>

                              <label for="title">Sub name</label>
                              <input type="text" id="subName" onkeyup="validateSubName()" name="subname"
                                    class="form-control">
                              <div id="subNameError"></div>

                              <label for="offer">offer</label>
                              <input type="text" id="offer" onkeyup="validatePercentage()" name="offer"
                                    class="form-control">
                              <div id="percentageError"></div>

                              <label for="image">image</label>
                              <img src="" style="width: 100px;height:auto;" id="imageview" class="pt-3">
                              <input type="file" id="image" onkeyup="validateImage()" name="image" onchange="viewImage(event)"
                                    class="form-control">
                                    <div id="imageError"></div>

                              <button type="submit" onsubmit="formsubmit()" class="btn btn-info border mt-4">submit</button>
                        </form>
                  </div>
            </div>
      </div>
</section>
<script>
      function viewImage(event) {
            document.getElementById('imageview').src = URL.createObjectURL(event.target.files[0])
      }

</script>

{{!-- banner validation --}}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>

      var bannerError = document.getElementById('bannerError')
      var percentageError = document.getElementById('percentageError')
      var subNameError = document.getElementById('subNameError')
      var imageError = document.getElementById('imageError')





      function validateBanner() {
            var banner = document.getElementById('banner').value.trim()
            if (banner.length < 4) {
                  bannerError.innerHTML = "need minimum 4 characters"
                  bannerError.style.color = "red"
                  return false;
            }
            bannerError.innerHTML = 'valid';
            bannerError.style.color = 'green'
            return true;
      }

      function validateSubName() {
            var subName = document.getElementById('subName').value.trim()
            if (subName.length < 4) {
                  subNameError.innerHTML = "need minimum 4 characters"
                  subNameError.style.color = "red"
                  return false;
            }
            subNameError.innerHTML = 'valid';
            subNameError.style.color = 'green'
            return true;
      }

      function validatePercentage() {
            var percentage = document.getElementById('offer').value.trim();

            if (percentage > 95 || percentage.length == 0) {
                  percentageError.innerHTML = "Value must be less than 90"
                  percentageError.style.color = "red";
                  return false;
            }
            percentageError.innerHTML = 'valid';
            percentageError.style.color = 'green'
            return true;
      }

      function validateImage() {
            var image = document.getElementById('image').value.trim();

            if (image.length == 0) {
                  imageError.innerHTML = 'Select an image';
                  imageError.style.color = 'red'
                  return false;
            }
            imageError.innerHTML = 'valid';
            imageError.style.color = 'green'
            return true;

      }



      $(document).on("submit", "form", function (e) {
            validateBanner()
            validatePercentage()
            validateSubName()
            validateImage()

            if (validatePercentage() && validateBanner() && validateSubName() && validateImage()) {
                  alert('banner added')
            } else {
                  e.preventDefault();
                  return false;
            }
      })
</script>