<div class="cart-table-area" style="">
    <div class="container">
        <div class="row">
            <div style="height:100px ;">

            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card border-0 ml-auto mr-auto" style="width: 20rem;">
                    <img src="/img/order-placed.jpg" alt="Card image cap">
                    <div class="card-body text-center ">
                        <h1 class="card-title">Order Success</h1>
                        {{!-- <p class="card-text"></p> --}}
                        <a href="/view-orders" class="btn btn-dark">View Orders</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="height:200px ;">
            </div>
        </div>
    </div>
</div>